
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
body {
    font-family: 'Trebuchet MS';
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weather-body {
    width: 80%;
    height: 80%;
    background-color: rgba(27, 73, 101, .7);
    border-radius: 20px;
}
.input-cont {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}
.search-input  {
    width: 85%;
    padding: 7px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #62b6cb;
    background-color: #bee9e8;
    color: rgb(27, 73, 101);
}
.search-input::placeholder{
    color: rgb(27, 73, 101);
}
.search-icon {
    color: #62b6cb;
    cursor: pointer;
    font-size: 20px;
    transition: .3s;
}
.search-icon:hover {
    font-size: 23px;
}
.weather-details {
    width: 300px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.temp {
    font-size: 80px;
    color: white;
}
.feels-like {
    font-size: 17px;
    font-style: italic;
    color: white;
}
.status {
    width: 100px;
    height: 100px;
}
.status img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.city {
    background: linear-gradient(to right, rgb(253, 238, 238), rgb(155, 155, 246));
            background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}
.country {
    font-size: 18px;
    margin-top: 15px;
    background: linear-gradient(to left, rgb(253, 238, 238), rgb(155, 155, 246));
    background-clip: text;
-webkit-text-fill-color: transparent;
}
.welcome-img {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}